<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD</title>
</head>
<body>
    <a href="logout">logout</a>
    <div>
        <form action="api/add" method="post" >
            {% csrf_token %} 
            <label for="amount"> amount</label>
            <input type="number" required name="amount" min="0" value="0" step=".01">
            <br>
            <label for="purpose">Review of W3Schools:</label>

            <textarea id="purpose"  required name="purpose" rows="4" cols="50">
            </textarea>
            <br>
            <label for="category"> category</label>
            

            <select name="category" id="category">
            <option value="mama">from mama</option>
            <option value="assets">from assets</option>
            </select>
            <br>
        <input type="submit" value="add">    

        </form>
    </div>
    <div>
        <a href="../">back</a>
    </div>


 
</body>
</html>